.innerBox {
  max-width: 1420px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 1260px) {
  .innerBox {
    max-width: 95%;
  }
}

header {
  background: #023586;
  padding: 35px 0;
}
header .logo {
  text-align: center;
}
header .logo a {
  position: relative;
  z-index: 100;
}
header #nav {
  position: absolute;
  top: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header #nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media screen and (max-width: 1260px) {
  header #nav ul {
    display: none;
  }
}
header #nav ul > li > a {
  color: white;
}
header #nav ul > li .subWrap {
  z-index: 100;
  width: 560px;
  background: white;
  position: absolute;
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  display: none;
}
header #nav ul > li .subWrap ul {
  width: 60%;
}
header #nav ul > li .subWrap ul li {
  width: calc(50% - 20px);
}
header #nav ul > li .subWrap ul li a {
  color: #4a4a4a;
}
header #nav ul > li:hover .subWrap {
  display: block;
}
header #nav .rightNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
header #nav .rightNav i {
  color: white;
  margin-left: 25px;
}
header #nav .hamBtn {
  display: none;
  position: absolute;
  right: 0;
}
@media screen and (max-width: 1260px) {
  header #nav .hamBtn {
    display: block;
  }
}
header #nav .hamBtn a span {
  display: block;
  width: 32px;
  height: 2px;
  background: white;
  margin: 0 0 6px;
}
header .mNav {
  display: none;
  background: rgba(0, 0, 0, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
header .mNav .bg {
  width: 280px;
  height: 100%;
  background: white;
}
header .mNav .bg > * {
  border-bottom: 1px solid #eee;
  padding: 20px;
  line-height: 2;
}
header .mNav .bg .leftNav .subWrap {
  text-indent: 20px;
  display: none;
}
header .mNav .bg .snsWrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
header .mNav .bg .snsWrap ul li {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}
header .mNav .bg .snsWrap ul li a {
  display: block;
  border: 1px solid #023586;
  border-radius: 50%;
  padding: 6px 0px 12px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
header .mNav .bg .snsWrap ul li a img {
  height: 100%;
}

#mainBanner .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 133.3333333333%;
}
@media screen and (max-width: 767px) {
  #mainBanner .banner {
    width: 200%;
  }
}
@media screen and (max-width: 480px) {
  #mainBanner .banner {
    width: 400%;
  }
}
#mainBanner .banner li {
  width: 25%;
  position: relative;
}
#mainBanner .banner li a img {
  width: 100%;
}
#mainBanner .banner li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#a6000000", GradientType=0);
  /* IE6-9 */
  position: absolute;
  top: 0;
  left: 0;
}
#mainBanner .banner li a:hover::after {
  background: none;
}
#mainBanner .pager {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}
#mainBanner .pager li a {
  display: block;
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  text-indent: -99999px;
}
#mainBanner .pager li a.active {
  background: #023586;
}

#container .innerBox section {
  padding: 50px 0;
  position: relative;
  margin: 0 -12px;
}
#container .innerBox section .title {
  font-family: "pbGothic", snas-serif;
  font-size: 24px;
  color: #111;
  margin-bottom: 30px;
  margin-left: 12px;
}
@media screen and (max-width: 480px) {
  #container .innerBox section .title {
    text-align: center;
  }
}
#container .innerBox section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#container .innerBox section ul li {
  padding: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#container .innerBox section ul li a .imgBox {
  position: relative;
}
#container .innerBox section ul li a .imgBox::after {
  content: "";
  display: block;
  width: 100%;
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#a6000000", GradientType=0);
  /* IE6-9 */
  position: absolute;
  bottom: 0;
}
#container .innerBox section ul li a .imgBox:hover::after {
  height: 100%;
}
#container .innerBox section ul li a .imgBox img {
  width: 100%;
}
#container .innerBox section ul li a .textBox {
  padding: 0 25px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-break: keep-all;
}
#container .innerBox section ul li a .textBox strong {
  font-family: "pbGothic", sans-serif;
  font-size: 24px;
}
#container .innerBox section .moreBtn {
  position: absolute;
  top: 50px;
  right: 12px;
  border-bottom: 2px solid #4a4a4a;
}
@media screen and (max-width: 1260px) {
  #container .innerBox section.magazine ul {
    width: 150%;
  }
}
@media screen and (max-width: 480px) {
  #container .innerBox section.magazine ul {
    width: 300%;
  }
}
#container .innerBox section.magazine ul li {
  position: relative;
  width: 33.3333333333%;
}
#container .innerBox section.magazine ul li .textBox {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}
#container .innerBox section.magazine ul li .textBox strong {
  font-size: 2em;
}
#container .innerBox section.magazine ul li .textBox p {
  font-size: 1.25em;
}
#container .innerBox section.story ul li {
  width: 50%;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  #container .innerBox section.story ul li {
    width: 100%;
  }
}
#container .innerBox section.story ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#container .innerBox section.story ul li a div {
  width: 50%;
}
#container .innerBox section.story ul li a div.textBox span {
  display: block;
  margin-bottom: 10px;
  color: #023586;
}
@media screen and (max-width: 480px) {
  #container .innerBox section.story ul li a div.textBox strong {
    font-size: 1.2em;
  }
}
#container .innerBox section.story ul li a div.textBox p {
  margin: 20px 0;
}
@media screen and (max-width: 480px) {
  #container .innerBox section.story ul li a div.textBox p {
    display: none;
  }
}
#container .innerBox section.promotion ul {
  width: 200%;
}
@media screen and (max-width: 1260px) {
  #container .innerBox section.promotion ul {
    width: 266.6666666667%;
  }
}
@media screen and (max-width: 767px) {
  #container .innerBox section.promotion ul {
    width: 400%;
  }
}
@media screen and (max-width: 480px) {
  #container .innerBox section.promotion ul {
    width: 800%;
  }
}
#container .innerBox section.promotion ul li {
  width: 12.5%;
}
#container .innerBox section.promotion ul li .imgBox span {
  position: absolute;
  top: 0;
  left: 0;
  background: #023586;
  color: white;
  font-size: 0.7em;
  padding: 0px 10px;
}
#container .innerBox section.promotion ul li .textBox {
  padding: 0;
}
#container .innerBox section.promotion ul li .textBox strong {
  display: block;
  font-size: 1em;
  margin: 10px 0;
}
#container .innerBox section.promotion ul li .textBox span {
  display: block;
  font-size: 0.65em;
  color: #888;
}

footer {
  background-color: #454a56;
}
footer .footTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0;
}
footer .footTop strong {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
}
footer .footTop .sitemap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footTop .sitemap li {
  margin-right: 100px;
  line-height: 2;
}
@media screen and (max-width: 1260px) {
  footer .footTop .sitemap li {
    width: 50%;
    margin-right: 0;
  }
}
footer .footTop .sitemap li a {
  color: white;
}
@media screen and (max-width: 1260px) {
  footer .footTop .spc {
    width: 50%;
  }
}
footer .footTop .spc p {
  margin-bottom: 20px;
}
footer .footTop .spc ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footTop .spc ul li {
  margin-right: 10px;
}
footer .footTop .spc ul li a img {
  height: 34px;
}
@media screen and (max-width: 1260px) {
  footer .footTop .followWrap {
    width: 50%;
  }
}
footer .footTop .followWrap > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footTop .followWrap > ul li {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}
footer .footTop .followWrap > ul li a {
  background: white;
  border-radius: 50%;
  display: block;
  padding: 12px 0;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}
footer .footTop .followWrap > ul li a img {
  height: 100%;
}
footer .footTop .followWrap .select p {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 20px;
  width: 170px;
  color: white;
  cursor: pointer;
}
footer .footTop .followWrap .select ul {
  position: absolute;
  display: none;
}
footer .footMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
footer .footMenu ul li {
  border-right: 1px solid white;
  line-height: 0.9;
  padding: 0 10px;
}
footer .footMenu ul li:last-child {
  border-right: none;
}
footer .footMenu ul li a {
  color: white;
  font-size: 0.7em;
}
footer .footBottom {
  border-top: 1px solid #888;
  padding: 10px 0;
  margin-top: 10px;
  text-align: center;
  border-top: 1px solid #888;
  color: #888;
}