.nav{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    li{
        list-style: none;
        margin: 0 100px;

        a{
            text-decoration: none;
            color: #222;
        }

        &.active{
            a{
                text-decoration: underline;
                color: pink;
                font-size: 20px;
            }
        }        
    }
}
.btnWrap{
    button{
        padding: 10px 30px;
        background-color: white;

        &.on{
            background: deepskyblue;
            color: white;
        }
    }
}