//전역변수
$메일컬러: #333;
$높이: 100px;
$width: 1000px;

header {
    width: $width;
    height: $높이;
    background-color: aliceblue;
}

#container {
    $높이: 350px;

    section {
        height: $높이;
        background-color: pink;
    }
}

footer {
    height: $높이;
    background-color: skyblue;
}