//공동사항
//글자크기,color,밑줄
@mixin myText{
    font-size: 25px;
    color: white;
    text-decoration: underline;
}
//h1 테두리, 배경
h1{
    border: 1px solid green;
    background-color: aliceblue;
    @include myText();
}
//span 기울기, 배경
span{
    font-style: italic;
    background-color: bisque;
    @include myText();
}

//p 배경
p{
    
}