* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.blind {
  position: absolute;
  top: -999999px;
}

body {
  font-family: "Noto Sans KR", san-serif;
  font-size: 14px;
  font-weight: normal;
}

.innerBox {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 0, 0, 0.3);
  position: relative;
}

header {
  border-top: 5px solid #009223;
  padding-top: 30px;
  text-align: center;
}
header #nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header #nav > li {
  margin: 30px 50px;
}
header #nav > li > a {
  display: block;
  font-size: 1.3em;
  font-weight: 500;
  color: #292929;
}
header #nav > li > a:hover {
  color: #009223;
}

#mainBanner .btn {
  position: absolute;
  bottom: 60px;
  right: 0;
}
#mainBanner .btn li {
  float: left;
  margin: 10px;
}
#mainBanner .btn li a {
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 10px;
  text-indent: -9999px;
}
#mainBanner .btn li.active a {
  background: #ffce32;
  width: 30px;
}

#container .quickWrap {
  top: -40px;
}
#container .quickWrap .quick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
#container .quickWrap .quick > div a {
  display: block;
  width: 300px;
  height: 80px;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
  background-repeat: no-repeat;
  line-height: 80px;
}
#container .quickWrap .quick > div.store a {
  background-color: #ffce32;
  background-image: url(../images/icon_map.png);
  background-position: 50px center;
  border-radius: 30px 0 0 0;
}
#container .quickWrap .quick > div.franchise a {
  background-color: #009223;
  background-image: url(../images/icon_franchise.png);
  background-position: 35px center;
  color: white;
  border-radius: 0 0 30px 0;
}